/* Mantendo o estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parceiros {
    background-color: #fcfcfc;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: auto; 
}

.parceiros-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px 0;
    gap: 20px; 
    width: 100%;
}

.parceiros-lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 50px;
    justify-content: center;
    width: 100%;
    gap: 15px; 
}

.fonte-titulo {
    font-family: 'Lexend';
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 20px;
}

.fonte-texto {
    font-family: 'Inter';
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 10px;
}

.parceiros-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px; 
    border-radius: 10px;
    margin: 0; 
    padding: 0;
    margin-bottom: 10px;
}

.parceiros-logo img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
    margin: 0 5px; 
}

/* Layout responsivo */
@media (max-width: 700px) {
    .fonte-titulo {
        font-size: 30px; 
    }

    .fonte-texto {
        font-size: 16px;     
    }

    .parceiros-lista {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }

    .parceiros-logo {
        height: 70px; 
    }
}

@media (max-width: 400px) {
    .parceiros-lista {
        grid-template-columns: repeat(1, 1fr); 
        gap: 10px; 
    }

    .parceiros-logo {
        height: 60px; 
    }
}
