.container-beneficios {
    margin: 88px 0;
}

.titulo-beneficios {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-align: center;
}

.titulo-beneficios span {
    color: var(--cor-azul-clara);
}

.grid-beneficios {
    display: grid;
    grid-template-columns: repeat(2, 564px);
    grid-template-rows: repeat(2, 230px);
    gap: 20px 25px;
    justify-content: center;
    margin: 40px 0;
}

.card-beneficio {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-cinza-azulado--claro);
    border-radius: 16px;
    flex-direction: row-reverse
}

.card-beneficio h3 {
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--cor-azul-vibrante);
    margin-bottom: 13px;
}

.card-beneficio p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.card-beneficio img{
    height: 96px;
    width: 88px;
    margin-left: 45px;
}

.texto-beneficio {
    display: flex;
    flex-direction: column;
    margin: 0 45px;
}

.container-beneficios h4 {
    font-family: "lexend", sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
}

@media (max-width: 1024px) { /* Para tablets e telas médias */
    .grid-beneficios {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas médias */
        grid-template-rows: auto;
        gap: 20px;
    }

    .card-beneficio {
        flex-direction: column-reverse; /* Ajuste do layout dos cards para coluna em telas médias */
        align-items: center;
        text-align: center;
        padding: 31px 24px;
    }

    .card-beneficio img {
        margin-left: 0;
        margin-bottom: 20px;
        width: 80px; /* Reduzindo o tamanho da imagem */
        height: 90px;
    }

    .container-beneficios {
        margin: 64px 36px;
    }

    .titulo-beneficios {
        font-size: 28px; /* Ajuste do título em telas médias */
    }

    .card-beneficio h3 {
        font-size: 24px; /* Tamanho da fonte do título dos cards em telas médias */
    }

    .card-beneficio p {
        font-size: 16px; /* Ajuste no tamanho da fonte dos parágrafos */
    }

    .texto-beneficio {
        margin: 0;
    }
}


@media (max-width: 768px) {
    .grid-beneficios {
        grid-template-columns: 100%; /* Uma coluna para telas menores */
        grid-template-rows: auto;
        gap: 20px;
    }

    .card-beneficio {
        flex-direction: column-reverse; /* Ajuste do layout dos cards para coluna em telas pequenas */
        align-items: center;
        text-align: center;
        padding: 31px 24px;
    }

    .card-beneficio img {
        margin-left: 0;
        margin-bottom: 20px;
        width: 48px; /* Reduzindo o tamanho da imagem */
        height: 52.36px;
    }

    .container-beneficios {
        margin: 64px 36px;
    }

    .titulo-beneficios {
        font-size: 24px; /* Ajuste do título em telas menores */
    }

    .card-beneficio h3 {
        font-size: 24px; /* Tamanho da fonte do título dos cards em telas menores */
    }

    .card-beneficio p {
        font-size: 16px; /* Ajuste no tamanho da fonte dos parágrafos */
    }

    .container-beneficios h4 {
        font-size: 24px;
    }

    .texto-beneficio {
        margin: 0;
    }
}

