.container {
    padding: 88px 118px;
    background-color: var(--cor-azul);
}

.container header {
    text-align: center;
}

.container header h2 {
    font-family: var(--fonte-principal);
    color: white;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 8%;
}

.container header h3 {
    font-family: var(--fonte-secundaria);
    font-size: 28px;
    color: white;
    font-weight: normal;
    margin: 32px 0;
}

.container header h2 span {
    color: var(--cor-amarelo)
}

.container header p span {
    color: var(--cor-amarelo);
}

.containerFeedbacks {
    font-family: var(--fonte-principal);
    display: flex;
    width: 100%;
    gap: 16px;
}

.card {
    background-color: white;
    border-radius: 16px;
    padding: 36px;
    text-align: justify;
    width: 100%;    
    position: relative;
}

.card h2 {
    color: var(--cor-amarelo);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 24;
}

.card img {
    position: absolute;
    right: 16px;
    top: 16px;
}
.card h2 + p  {
    font-weight: bold;
    margin-bottom: 8px;
}

@media (max-width: 1100px) {
    .containerFeedbacks {
        flex-wrap: wrap;
    }

    .container {
        padding: 64px 36px;
    }
}