/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  line-height: 1.6;
}

.faqContainer {
  display: inline-block;
  border-radius: 0; /* Remove bordas arredondadas */
  box-shadow: none; /* Remove sombra */
  display: inline-block;
  justify-content: center;
  margin: 88px 118px;
}

.h1 {
  text-align: left;
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.h1Span {
  color: var(--cor-azul);
}

.h2 {
  text-align: left;
  color: #555;
  font-family: "Lexend", sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
}

.faqList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faqItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.faqQuestion {
  width: 100%;
  background: #f1f1f1;
  color: #333;
  padding: 15px 20px;
  border: none;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.faqQuestionHover {
  background: #e0e0e0;
}

.faqToggle {
  font-size: 1.5rem;
  color: #666;
}

.faqAnswer {
  background: #fff;
  padding: 15px 20px;
  color: #555;
  border-top: 1px solid #ddd;
}

button {
  font-family: var(--fonte-principal);
}

@media (max-width: 400px) {
    .faqContainer {
      margin: 32px 64px;
    }
  
}